.woocommerce-MyAccount-navigation-link--customer-logout
    margin-top: 10px
    background-color: #acacac!important

.dashboard
    width: 100%
    & > li
        width: 100%
        & > a
            width: 100%
            margin: 5px 0!important

.u-columns
    & > .woocommerce-Address
        width: 50%!important
        padding: 2%
        @media only screen and (max-width: 790px)
            width: 100%!important
    & > .col-1
        border-right: 2px solid black
        @media only screen and (max-width: 790px)
            border: none
