body.home
  h2
    font-family: 'Orelega One', cursive

  #main.on-top
    padding-top: 500px

  article.last-products, article.best-products, article.categories-list
    h2
      position: relative
      font-size: 1.8rem
      text-align: center
      margin-bottom: 50px

  .colonne
    margin: auto
    width: 80%
    max-width: 1200px
    display: flex
    flex-wrap: wrap

    .col
      margin: 0
      width: calc(100% / 3)
      text-align: center
      display: flex
      flex-wrap: wrap
      .icon
        width: 20%
        img
          width: 100%
          height: auto
      .content
        width: 80%
        h4
          margin: 10px 0
      @media only screen and (max-width: 790px)
        width: 100%!important
        margin-top: 25px
